<%= form_for :product, url: products_path(@product) do |f| %>

  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@product.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </p>

  <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </p>

  <p>
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
  </p>
  <p>
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :peraddress %><br>
    <%= f.text_field :peraddress %>
  </p>
  <p>
    <%= f.label :contactNo %><br>
    <%= f.text_field :contactNo %>
  </p>

  <%= f.label :roles %>
  <%= f.collection_select :patient_ids, Patient.all, :id, :role, {}, { multiple: true } %>


  <p>
      <%= f.submit %>
    </p>

  <% end %>
