

<p>
  <strong>first_name:</strong>
  <%= @product.first_name %>
</p>

<p>
  <strong>last_name:</strong>
  <%= @product.last_name %>
</p>
<p>
  <strong>gender:</strong>
  <%= @product.gender %>
</p>
<p>
  <strong>address:</strong>
  <%= @product.address %>
</p>
<p>
  <strong>peraddreass:</strong>
  <%= @product.peraddress %>
</p>
<p>
  <strong>contactNo:</strong>
  <%= @product.contactNo %>
</p>
<h2>Roles</h2>
<ul>
  <% @product.patients.each do |patient| %>
    <li><%= patient.role %></li>
  <% end %>




<h2>Add a patient:</h2>
<%= render 'patients/form' %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', product_path %>
